{% extends "terra/base.html" %}

{% load static from staticfiles %}

{% load terra_extras %}

{% load crispy_forms_tags %}

{% block title %}Add Actual Expense{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block early_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static '/terra/js/jquery.formset.js' %}"></script>

{% endblock %}

{% block body %}
<h1>Actual Expenses</h1>
<br>
<form method="POST" class="form">
{% csrf_token %}
{{ actualexpense_formset.management_form }}

<div class="container-fluid">
  <div class="row">
    {% for actualexpense_form in actualexpense_formset %}
      <div class = "link-formset" >  
        <div class="col">
          <div class="card">
            <div class="card-body">
              {{actualexpense_form.id}}
              <table>
              {{actualexpense_form.as_table}}
              </table>
            </div>
          </div>
        </div>
        <br>
      </div>
    {% endfor %}
</div>
</div>
<br>
<br>
<button type="submit" class="btn btn-success">Save Expenses</button>
<input type="hidden" name="next" value="{{next}}">
     <script>

    $('.link-formset').formset({
        addText: '<button type="submit" class="btn btn-primary">Add Expenses</button>',
        deleteText: ''
        
    });
    </script>


{% endblock %}
