{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}Actual Expense Report{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
<div class="row">
        <div class="col">
            <h1>{{fiscalyear}} Report</h1>
            <h2>Actual Expense Report</h2>
        </div>
        <div class="col text-right">
            <a href="/actual_expense_report/{{start_fy}}-{{end_fy}}/export/" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fiscal Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for year in fiscal_year_list %}
                    <a class="dropdown-item" href= "/actual_expense_report/{{year}}-{{year}}">{{year}}</a>
                {% endfor %}
                <a class="dropdown-item" href= "/actual_expense_report/{{inception_year}}-{{fy_year}}">All Years</a>
            </div>
        </div>
    </div>
<br/>

<table class="table">
    <thead class="thead-light">
      <th class="text">AUL</th>
      <th class="text">Department</th>
      <th class="text">UID</th>
      <th class="text">Employee</th>
      <th class="text">Type</th>
      <th class="text">Activity</th>
      <th class="text">Dates</th>
      <th class="text">Date Paid</th>
      <th class="text">Closed</th>
      <th class="text">Reimbursed</th>
      <th class="text">Fund</th>
      <th class="text-right">Amount</th>
      <th class="text-right">Employee Total</th>
    </thead>
    <tbody>
  {% for v in report.subunits.values %}
      {% for e in v.employees.values %}
        {% for actualexpense in actualexpenses %}
          {% if actualexpense.treq.traveler == e %}
        
                  <tr>
                    {% if v.subunit.manager.type == 'EXEC' %}
                      <td class="text">{{v.subunit.manager}}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                    <td class="text">{{actualexpense.treq.traveler.unit}}</td>
                    <td class="text">{{actualexpense.treq.traveler.uid}}</td>
                    <td><a href="/employee/{{actualexpense.treq.traveler.pk}}/{{fy_year}}-{{fy_year}}/">{{actualexpense.treq.traveler}}</a></td>
                    <td class="text">{{actualexpense.treq.traveler.get_type_display}}</td>
                    <td><a href="/treq/{{actualexpense.treq.pk}}/">{{actualexpense.treq.activity}}</a></td>
                    <td class="text">{{actualexpense.treq.departure_date}} - {{actualexpense.treq.return_date}}</td>
                    <td class="text">{{actualexpense.date_paid}}</td>
                    <td class="text">{{actualexpense.treq.closed|check_or_cross|safe}}</td>
                    <td class="textt">{{actualexpense.reimbursed|check_or_cross|safe}}</td>
                    <td class="text">{{actualexpense.fund}}</td>
                    <td class="text-right">{{actualexpense.total|currency}}</td> 
                    <td></td>
                  </tr> 
              {% endif %}
            {% endfor %}

              {% for subunit in unit_totals.subunits.values %}
                {% for  employee in subunit.employees.values %}
                  {% if employee == e and employee.data.total_spent != 0%}
                    <tr>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <th class="text">{{employee}} ({{employee.get_type_display}}) Total</th>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text"></td>
                      <td class="text-right">{{employee.data.total_spent|currency}}</td>
                  {% endif %}
                {% endfor %}
              {% endfor %}
          {% endfor %}
            </tr>
        </tbody>
        
      {% endfor %}
        <tfoot>
            <tr>
            <th>Library Total</th>
                <th></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right"></th>
                <th class="text-right">{{unit_totals.unit_totals.total_spent|currency}}</th>    
            </tr>
        </tfoot>
    </table>

{% endblock %}

