{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}Employee Type Report{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Fiscal Year {{fiscalyear}}</h1>
            <h2>Employee Type Report</h2>
            <br>
        </div>
        <div class="col text-right">
            <a href="/employee_type_list/export" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
        </div>
    </div>
{% for key, value in merge.type.items %}
    <table class="table">
        <h3>{{key}}</h3>
        <thead class="thead-light">
            <tr>
                <th colspan="3" scope="colgroup"></th>
                <th colspan="3" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="3" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="3" scope="colgroup" class="text-center">Totals</th>
                
            </tr>
            <tr>
                <th scope="col">Unit</th>
                 <th scope="col">Unit Manager</th>
                <th scope="col">Employee</th>  
                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
                <th scope="col" class="text-right bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>
                <th scope="col" class="text-right bg-light">Days Out Working</th>
                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
            </tr>
        </thead>
        <tbody>


{% for employee in value.employees %}
            <tr>
                <td>{{employee.unit}}</td>
                <td>{{employee.unit_manager}}</td>
                <td><a href="/employee/{{employee.id}}/">{{employee.name}}</a></td>

                <td class="text-right">{{employee.profdev_requested|cap|safe}}</td>
                <td class="text-right">{{employee.profdev_spent|cap|safe}}</td>
                <td class="text-right">{{employee.profdev_days_away}}</td>

                <td class="text-right">{{employee.admin_requested|currency}}</td>
                <td class="text-right">{{employee.admin_spent|currency}}</td>
                <td class="text-right">{{employee.admin_days_away}}</td>

                <td class="text-right">{{employee.total_requested|currency}}</td>
                <td class="text-right">{{employee.total_spent|currency}}</td>
                <td class="text-right">{{employee.total_days_ooo}}</td>

                
            </tr>
{% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Subtotals</th>
                <th></th>
                <th></th>
                <th class="text-right">{{value.totals.profdev_requested|currency}}</th>
                <th class="text-right">{{value.totals.profdev_spent|currency}}</th>
                <th class="text-right">{{value.totals.profdev_days_away}}</th>

                <th class="text-right">{{value.totals.admin_requested|currency}}</th>
                <th class="text-right">{{value.totals.admin_spent|currency}}</th>
                <th class="text-right">{{value.totals.admin_days_away}}</th>


                <th class="text-right">{{value.totals.total_requested|currency}}</th>
                <th class="text-right">{{value.totals.total_spent|currency}}</th>
                <th class="text-right">{{value.totals.total_days_ooo}}</th>
                
                
            </tr>
        </tfoot>
    </table>
{% endfor %}
<h3>Library Totals</h3>
<table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="3" scope="colgroup"></th>
                <th colspan="3" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="3" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="3" scope="colgroup" class="text-center">Totals</th>
            </tr>
            <tr>
                <th scope="col">Unit</th>
                 <th scope="col">Unit Manager</th>
                <th scope="col">Employee</th>  
                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
                <th scope="col" class="text-right bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>
                <th scope="col" class="text-right bg-light">Days Out Working</th>
                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
            </tr>
        </thead>
 <tfoot>
            <tr>
                <th>Total</th>
                <th></th>
                <th></th>
                <th class="text-right">{{merge.all_type_total.profdev_requested|currency}}</th>
                <th class="text-right">{{merge.all_type_total.profdev_spent|currency}}</th>
                <th class="text-right">{{merge.all_type_total.profdev_days_away}}</th>

                <th class="text-right">{{merge.all_type_total.admin_requested|currency}}</th>
                <th class="text-right">{{merge.all_type_total.admin_spent|currency}}</th>
                <th class="text-right">{{merge.all_type_total.admin_days_away}}</th>

                <th class="text-right">{{merge.all_type_total.total_requested|currency}}</th>
                <th class="text-right">{{merge.all_type_total.total_spent|currency}}</th>
                <th class="text-right">{{merge.all_type_total.total_days_ooo}}</th>

                
            </tr>
        </tfoot>
    </table>

{% endblock %}


