{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}{{employee}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>{{employee}}</h1>
        <h3>{{employee.get_type_display}}, {{employee.unit}}</h3>
        <br>
        <h2>FY {{fy}} Report</h2>
    </div>
    <div class="col text-right">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fiscal Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for year in fiscal_year_list %}
                    <a class="dropdown-item" href= "/employee/{{employee.id}}/{{year}}">{{year}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if fy == fy_year %}
    {% if employee.profdev_cap_applies %}
        <div class="row">
            <div class="alert alert-primary" role="alert">
            {% for employee_id, totals in report.items %}
                {% if employee_id == employee.id %}
                <h4 class="alert-heading">Remaining Balances</h4>
                <hr>
                    <p><b>{{totals.profdev_remaining|currency}}</b></p>
                    <p><b>{{totals.profdev_days_remaining}} days</b></p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}
    <br>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Dates</th>
                <th scope="col">Closed</th>
                <th scope="col">Amount Requested in FY{{fy}}</th>
                <th scope="col">Amount Spent in FY{{fy}}</th>
                <th scope="col">Days Out Working Total in FY{{fy}}</th>   
            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="par" colspan="6" scope="colgroup">Professional Development</th>
            </tr>
            {% for treq in employee.travelrequest_set.all %}
                {% for i in actualexpenses_fy %}
                    {% if i.id == treq.id %}
                        {% if treq.administrative == False %}
                            {% if i.actualexpenses_fy != 0 or treq.departure_date >= fy_start and treq.return_date <= fy_end %}

                                <tr>
                                    <td><a href="/treq/{{treq.pk}}">{{treq.activity.name}} </a></td>
                                    <td>{{treq.departure_date}} - {{treq.return_date}}</td>
                                    <td>{{treq.closed|check_or_cross|safe}}</td>
                                    <td>{{i.funding_fy|currency}}</td>
                                    <td>{{i.actualexpenses_fy|currency}}</td>

                                    {% if treq.departure_date >= fy_start and treq.return_date <= fy_end %}
                                        <td>{{treq.days_ooo}}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}

                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endif %}
               {% endfor %}
            {% endfor %}
            <tr><th colspan="6" scope="colgroup"><br></th></tr>
            <tr>
                <th id="par" colspan="6" scope="colgroup">Administrative</th>
            </tr>
            {% for treq in employee.travelrequest_set.all %}
                {% for i in actualexpenses_fy %}
                    {% if i.id == treq.id %}
                        {% if i.actualexpenses_fy != 0 or treq.departure_date >= fy_start and treq.return_date <= fy_end %}
                            {% if treq.administrative == True %}
                                <tr>
                                    <td><a href="/treq/{{treq.pk}}">{{treq.activity.name}} </a></td>
                                    <td>{{treq.departure_date}} - {{treq.return_date}}</td>
                                    <td>{{treq.closed|check_or_cross|safe}}</td>
                                    <td>{{i.funding_fy|currency}}</td>
                                    <td>{{i.actualexpenses_fy|currency}}</td>
                                    {% if treq.departure_date >= fy_start and treq.return_date <= fy_end %}
                                        <td>{{treq.days_ooo}}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
        
        {% for employee_id, totals in report.items %}
            {% if employee_id == employee.id %}

                <tfoot>
                    <tr><th colspan="6" scope="colgroup"><br></th></tr>
                    <tr>
                        <th>Totals</th>
                        <th></th>
                        <th></th>
                        <th>{{totals.total_requested|currency}}</th>
                        <th>{{totals.total_spent|currency}}</th>
                        <th>{{totals.days_away}}</th>
                    </tr>
                </tfoot>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}