{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}{{employee}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;
}
</style>
{% endblock %}

{% block body %}
    <h1>{{employee}}</h1>
    <h3>{{employee.get_type_display}}, {{employee.unit}}</h3>
    <br/>
    <h2>FY {{fiscal_year}} Travel Requests</h2>
    <br>
    <table class="table">
        <h3>Prof Dev</h3>
        <thead class="thead-light">
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Dates</th>
                <th scope="col">Closed</th>
                <th scope="col">Estimated Expenses</th>
                <th scope="col">Approved Funds</th>
                <th scope="col">Actual Expenses</th>
                <th scope="col">Days Out Working</th>   
            </tr>
        </thead>
        <tbody>
            {% for treq in employee.travelrequest_set.all %}
                {% if treq.in_fiscal_year %}
                    {% if treq.administrative == False %}
                        <tr>
                            <td><a href="/treq/{{treq.pk}}">{{treq.activity.name}} </a></td>
                            <td>{{treq.departure_date}} - {{treq.return_date}}</td>
                            <td>{{treq.closed|check_or_cross|safe}}</td>
                            <td>{{treq.estimated_expenses|currency}}</td>
                            <td>{{treq.approved_funds|currency}}</td>
                            <td>{{treq.actual_expenses|currency}}</td>
                            <td>{{treq.days_ooo}}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table">
        <h3>Admin</h3>
            <thead class="thead-light">
                <tr>
                  <th scope="col">Activity</th>
                  <th scope="col">Dates</th>
                  <th scope="col">Closed</th>
                  <th scope="col">Estimated Expenses</th>
                  <th scope="col">Approved Funds</th>
                  <th scope="col">Actual Expenses</th>
                  <th scope="col">Days Out Working</th>   
                </tr>
        </thead>
        <tbody>
            {% for treq in employee.travelrequest_set.all %}
                {% if treq.in_fiscal_year %}
                    {% if treq.administrative == True %}
                        <tr>
                            <td><a href="/treq/{{treq.pk}}">{{treq.activity.name}} </a></td>
                            <td>{{treq.departure_date}} - {{treq.return_date}}</td>
                            <td>{{treq.closed|check_or_cross|safe}}</td>
                            <td>{{treq.estimated_expenses|currency}}</td>
                            <td>{{treq.approved_funds|currency}}</td>
                            <td>{{treq.actual_expenses|currency}}</td>
                            <td>{{treq.days_ooo}}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br>
    <table class="table">
        <h3>Totals</h3>
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Estimated Expenses</th>
                <th scope="col">Approved Funds</th>
                <th scope="col">Actual Expenses</th>
                <th scope="col">Days Out Working</th>   
            </tr>
        </thead>
        <tbody>
        {% for employee_id, totals in report.items %}
            {% if employee_id == employee.id %}
                <tfoot>
                    <tr>
                        <th>Totals</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>{{totals.total_estimatedexpense|currency}}</th>
                        <th>{{totals.total_alloc|currency}}</th>
                        <th>{{totals.total_expend|currency}}</th>
                        <th>{{totals.days_away}}</th>
                    </tr>
                </tfoot>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}