{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}{{employee}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
    <h1>{{employee}}</h1>
    <h3>{{employee.get_type_display}}, {{employee.unit}}</h3>
    <br/>
    <h2>FY {{fiscal_year}} Travel Requests</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Dates</th>
                <th scope="col">Admin</th>
                <th scope="col">Days OOO</th>
                <th scope="col">Vacation Days</th>                
                <th scope="col">Approved</th>
                <th scope="col">Funded</th>
                <th scope="col">Closed</th>
                <th scope="col">Estimated Expenses</th>
                <th scope="col">Approved Funds</th>
                <th scope="col">Actual Expenses</th>
            </tr>
        </thead>
        <tbody>
    {% for treq in employee.travelrequest_set.all %}
            <tr>
                <td><a href="/treq/{{treq.pk}}">{{treq.activity.name}} </a></td>
                <td>{{treq.departure_date}} - {{treq.return_date}}</td>
                <td>{{treq.administrative|check_or_cross|safe}}</td>
                <td>{{treq.days_ooo}}</td>
                <td>{{treq.vacation_days}}</td>
                <td>{{treq.approved|check_or_cross|safe}}</td>
                <td>{{treq.funded|check_or_cross|safe}}</td>
                <td>{{treq.closed|check_or_cross|safe}}</td>
                <td>{{treq.estimated_expenses|currency}}</td>
                <td>{{treq.approved_funds|currency}}</td>
                <td>{{treq.actual_expenses|currency}}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{% endblock %}

