{% extends "terra/base.html" %}

	

	{% block title %}Employee{% endblock %}

    {% block supplemental_css %}
    <style>
      body {
        padding-top: 3.5rem;
      }
    </style>
    {% endblock %}

    {% block body %}




    <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Companies</h1>
      <p>Here is a list of companies that you have saved.</p>
      </p>
    </div>
  </div>

	<div class = "container">
	{% for company in object_list %}

	<ul class="list-group">
  	<h2 <li class="list-group-item">{{Employee.user}}</li> </h2>
    <li class="list-group-item">{{company.location}} </li>
	</ul>

	
	{% endfor %}
	</div>

	{% endblock %}