{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}FAU Report - {{fund}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;
}
</style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <h1>Fiscal Year {{fiscalyear}}</h1>
            <h2>{{fund.manager.unit.name}}</h2>
            <h3>{{fund.manager}}</h3>
            <h3>{{fund}}</h3>
        </div>
        <div class="col text-right">
            <a href="/fund/{{fund.id}}/{{start_fy}}-{{end_fy}}/export/" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fiscal Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for year in fiscal_year_list %}
                    <a class="dropdown-item" href= "/fund/{{fund.id}}/{{year}}-{{year}}">{{year}}</a>
                {% endfor %}
                <a class="dropdown-item" href= "/fund/{{fund.id}}/{{inception_year}}-{{fy_year}}">All Years</a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="2" scope="colgroup"></th>
                <th colspan="2" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="2" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="2" scope="colgroup" class="text-center">Totals</th>
            </tr>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Activity</th>
                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                
                <th scope="col" class="text-right bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>

                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <th>{{employee.user.last_name}}, {{employee.user.first_name}} ({{employee.get_type_display}}) Total</th>
                <th></th>
                <th class="text-right">{{employee.profdev_requested|cap|safe}}</th>
                <th class="text-right">{{employee.profdev_spent|cap|safe}}</th>

                <th class="text-right">{{employee.admin_requested|currency}}</th>
                <th class="text-right">{{employee.admin_spent|currency}}</th>

                <th class="text-right">{{employee.total_requested|currency}}</th>
                <th class="text-right">{{employee.total_spent|currency}}</th>
            </tr>
            {% for treq in treq_funds %}
                {% if treq.traveler.id == employee.id %}
                    <tr>
                        <td><a href="/employee/{{employee.pk}}/{{fy_year}}/">{{employee.user.last_name}}, {{employee.user.first_name}}</a></td>
                        <td><a href='/treq/{{treq.pk}}/'>{{treq.activity}}</a></td>
                        
                        <td class="text-right">{{treq.profdev_requested|currency}}</td>
                        <td class="text-right">{{treq.profdev_spent|currency}}</td>
                        
                        <td class="text-right">{{treq.admin_requested|currency}}</td>
                        <td class="text-right">{{treq.admin_spent|currency}}</td>
                        <td class="text-right"></td>
                        <td class="text-right"></td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
            </tbody>
        <tfoot>
            <tr>
                <th>Totals</th>
                <th></th>
                <th class="text-right">{{totals.profdev_requested|currency}}</th>
                <th class="text-right">{{totals.profdev_spent|currency}}</th>

                <th class="text-right">{{totals.admin_requested|currency}}</th>
                <th class="text-right">{{totals.admin_spent|currency}}</th>

                <th class="text-right">{{totals.total_requested|currency}}</th>
                <th class="text-right">{{totals.total_spent|currency}}</th>
            </tr>
        </tfoot>
    </table>


{% endblock %}