{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}FAU List{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
<h1>FAU Reports</h1>
<br/>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">FAU</th>
      <th scope="col">Unit</th>
      <th scope="col">Manager</th>
    </tr>
  </thead>
  <tbody>
  	{% for fund in funds %}
  	<tr class="table-row" data-href="/fund/{{fund.pk}}">
  		<td>{{ fund }}</td>
  		<td>{% if fund.unit %}{{ fund.unit }}{% endif %}</td>
  		<td>{{ fund.manager }}</td>
  	</tr>
  	{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block supplemental_js %}
<script type="text/javascript">
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}