{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}FAU Report - {{fund}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;
}
</style>
{% endblock %}


{% block body %}



    <div class="row">
        <div class="col">
            <h1>Fiscal Year {{fiscalyear}}</h1>
            <h2>{{fund.manager.unit.name}}</h2>
            <h3>{{fund.manager}}</h3>
            <h3>{{fund}}</h3>
        </div>
        <div class="col text-right">
            <a href="{% url 'fund_csv' pk=fund.id year=fy %}" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
        </div>

        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fiscal Year
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for year in fiscal_year_list %}
                    <a class="dropdown-item" href= "/fund/{{fund.id}}/{{year}}">{{year}}</a>
                {% endfor %}
            </div>
        </div>
    </div>



<table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="2" scope="colgroup"></th>
                <th colspan="2" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="2" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="2" scope="colgroup" class="text-center">Totals</th>
            </tr>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Type</th>
                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                
                <th scope="col" class="text-right bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>

                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
            </tr>
        </thead>
    </table>

    {% for employee in employees %}
    <div id="accordion">
    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         
        <table class="table">
            
        <tbody>    

                <td>{{employee.user.last_name}}, {{employee.user.first_name}}</td>
                <td>{{employee.get_type_display}}</td>
                <td>{{employee.profdev_requested|cap|safe}}</td>
                <td>{{employee.profdev_spent|cap|safe}}</td>

                <td>{{employee.admin_requested|currency}}</td>
                <td>{{employee.admin_spent|currency}}</td>

                <td>{{employee.total_requested|currency}}</td>
                <td>{{employee.total_spent|currency}}</td>
        </tbody>
    </table>
        
      </h5>
    </div>
</button>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <h5>Travel Requests using {{fund}}</h5>
        <table class="table">
            <thead>
                <th colspan="1" scope="colgroup">Activity</th>
                <th colspan="1" scope="colgroup">Administrative</th>
                <th colspan="1" scope="colgroup">Amount Requested</th>
                <th colspan="1" scope="colgroup">Amount Spent</th>
            </thead> 
            {% for treq in treq_funds %}
                {% if treq.traveler.id == employee.id %}
                    <tbody>

                        <td>{{treq.activity}}</td>
                        <td>{{treq.administrative}}</td>
                        <td>{{treq.requested}}</td>
                        <td>{{treq.spent}}</td>
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endfor %}

    <table class="table">    
        <tfoot>
            <tr>
                <th>Totals</th>
                <th></th>
                <th class="text-right">{{totals.profdev_requested|currency}}</th>
                <th class="text-right">{{totals.profdev_spent|currency}}</th>

                <th class="text-right">{{totals.admin_requested|currency}}</th>
                <th class="text-right">{{totals.admin_spent|currency}}</th>

                <th class="text-right">{{totals.total_requested|currency}}</th>
                <th class="text-right">{{totals.total_spent|currency}}</th>
            </tr>
        </tfoot>
    </table>


{% endblock %}

