{% extends 'terra/base.html' %}

{% block title %}TERRA - Release Notes{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

    }
</style>
{% endblock %}

{% block body %}
<h3>Release Notes</h3>
<hr />

<h4>1.1.6</h4>
<p><i>May 16, 2025</i></p>
<ul>
    <li>Updated Django to 5.2.1.</li>
    <li>Updated Python to 13.3.</li>
    <li>Updated psycopg to 3.2.9 to go with PostgreSQL 16.</li>
</ul>

<h4>1.1.5</h4>
<p><i>February 28, 2025</i></p>
<ul>
    <li>Updated Django to 4.2.19 to patch security issues.</li>
    <li>Added release notes.</li>
</ul>

{% endblock %}