{% extends "terra/base.html" %}

{% load terra_extras %}

{% load crispy_forms_tags %}

{% block title %}Add Travel Request{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block early_js %}

{% endblock %}

{% block body %}
<h1>New Travel Request</h1>
<br>
<form method="POST" class="form">

{% csrf_token %}
{{form|crispy}}
</form>
<a class="btn btn-primary" href="{% url 'activity_form'%}">Add activity<span class="glyphicon glyphicon-pencil"></span></a>
<button type="submit" class="btn btn-success">Save Travel Request</button>
<input type="hidden" name="next" value="{{next}}">

{% endblock %}
