{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}{{treq.traveler}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
<h1><a href='/employee/{{treq.traveler.pk}}/{{fy_year}}-{{fy_year}}'>{{treq.traveler}}</a></h1>
<h3>{{treq.traveler.get_type_display}}, {{treq.traveler.unit}}</h3>
<h2>
    Travel Request: {{treq.activity}}
    <small>
    {% if treq.canceled %}
        <span class="badge badge-pill badge-danger">(Canceled)</span>
    {% elif treq.closed %}
        <span class="badge badge-pill badge-secondary">(Closed)</span>
    {% else %}
        {% if treq.approved and treq.funded %}
            <span class="badge badge-pill badge-success">(Approved & Funded)</span>
        {% else %}
            <span class="badge badge-pill badge-danger">(Pending)</span>  
        {% endif %}
    {% endif %}
    </small>
</h2>
<br/>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="approval-tab" data-toggle="tab" href="#approval" role="tab" aria-controls="approval" aria-selected="true">
        Approval &nbsp;
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="funding-tab" data-toggle="tab" href="#funding" role="tab" aria-controls="funding" aria-selected="false">
        Funding &nbsp;
    </a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="approval" role="tabpanel" aria-labelledby="approval-tab">
    <br/>
    <div class="row">
        <div class="col">
            <dt>Activity</dt>
            <dd>{{treq.activity}}</dd>
            <dt>Location</dt>
            <dd>{{treq.activity.city}}, {{treq.activity.state}} {{treq.activity.country}}</dd>
            <dt>Departure Date - Return Date</dt>
            <dd>{{treq.departure_date}} - {{treq.return_date}}</dd>
            <dt>Days Out Working</dt>
            <dd>{{treq.days_ooo}}</dd>
            <dt>Justification</dt>
            <dd>{{treq.justification}}</dd>
            <dt>Note</dt>
            <dd>{{treq.note}}</dd>
        </div>
        <div class="col">
            <dt>Admin</dt>
            <dd>{{treq.administrative|check_or_cross|safe}}</dd>
            <dt>Approved By</dt>
            <dd>{{treq.approved_by}}</dd>
            <dt>Approved On</dt>
            <dd>{{treq.approved_on}}</dd>
            <dt>International Approved On</dt>
            <dd>{{treq.international_approved_on}}</dd>
        </div>
    </div>
  </div>

  <div class="tab-pane fade" id="funding" role="tabpanel" aria-labelledby="funding-tab">
    <br/>
    <div class="row">
        <div class="col">
            <b>Funding</b>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>FAU</th>
                        <th>By</th>
                        <th>On</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funding in treq.funding_set.all %}
                    <tr>
                        <td>{{funding.fund}}</td>
                        <td>{{funding.funded_by}}</td>
                        <td>{{funding.funded_on}}</td>
                        <td>{{funding.amount|currency}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <td>{{treq.total_funding|currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col">
            
        <b>Actual Expenses</b>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Expense Type</th>
                    <th>FAU</th>
                    <th>Date Paid</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for actualexpense in treq.actualexpense_set.all %}
                <tr>
                    <td>{{actualexpense.get_type_display}}</td>
                    <td>{{actualexpense.fund}}</td>
                    <td>{{actualexpense.date_paid}}</td>
                    <td>{{actualexpense.total|currency}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <td></td>
                    <td></td>
                    <td>{{treq.actual_expenses|currency}}</td>
                </tr>
            </tfoot>
        </table>
        </div>  
    </div>
  </div>
</div>
{% endblock %}

