{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}Unit Report - {{unit.name}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}

    <h1>{{unit.name}}</h1>
    <p>Manager: {{unit.manager}}</p>
    <h2>Current Fiscal Year</h2>
    <hr/>
    
    {% for subunit_name, subunit_data in report.subunits.items %}
    <h3>{{subunit_name}}</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="1" scope="colgroup"></th>
                <th colspan="3" scope="colgroup" class="text-center">Allocation</th>
                <th colspan="3" scope="colgroup" class="text-center">Expenditures</th>
            </tr>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col" class="text-right">Prof. Dev.</th>
                <th scope="col" class="text-right">Admin.</th>
                <th scope="col" class="text-right">Total</th>
                <th scope="col" class="text-right">Prof. Dev.</th>
                <th scope="col" class="text-right">Admin.</th>
                <th scope="col" class="text-right">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in subunit_data.staff %}
            <tr>
                <td>{{employee.name}}</td>
                <td class="text-right">{{employee.profdev_alloc|currency}}</td>
                <td class="text-right">{{employee.admin_alloc|currency}}</td>
                <td class="text-right">{{employee.total_alloc|currency}}</td>
                <td class="text-right">{{employee.profdev_expend|currency}}</td>
                <td class="text-right">{{employee.admin_expend|currency}}</td>
                <td class="text-right">{{employee.total_expend|currency}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Totals</th>
                <th class="text-right">{{subunit_data.totals.profdev_alloc|currency}}</th>
                <th class="text-right">{{subunit_data.totals.admin_alloc|currency}}</th>
                <th class="text-right">{{subunit_data.totals.total_alloc|currency}}</th>
                <th class="text-right">{{subunit_data.totals.profdev_expend|currency}}</th>
                <th class="text-right">{{subunit_data.totals.admin_expend|currency}}</th>
                <th class="text-right">{{subunit_data.totals.total_expend|currency}}</th>
            </tr>
        </tfoot>
    </table>
    {% endfor %}

{% endblock %}

