{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}Unit Report - {{unit.name}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Fiscal Year {{fiscalyear}}</h1>
            <h2>{{unit.name}}</h2>
            <h3>{{unit.manager}}</h3>
            {{test}}
        </div>
        <div class="col text-right">
            <a href="/unit/{{unit.pk}}/export/" class="btn btn-primary" role="button" aria-pressed="true">Download CSV</a>
        </div>
    </div>

    {% for subunit_id, subunit in report.subunits.items %}
    <h3>{{subunit.subunit.name}}</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="2" scope="colgroup"></th>
                <th colspan="3" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="3" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="3" scope="colgroup" class="text-center">Totals</th>
            </tr>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Type</th>

                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
                
                <th scope="col" class="text-right  bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>
                <th scope="col" class="text-right bg-light">Days Out Working</th>

                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
            </tr>
        </thead>
        <tbody>
            {% for eid, employee in subunit.employees.items %}
            <tr>
                <td><a href="/employee/{{employee.pk}}/">{{employee.user.last_name}}, {{employee.user.first_name}}</a></td>
                <td> {{employee.get_type_display}}</td>

                <td class="text-right">{{employee.data.profdev_requested|cap|safe}}</td>
                <td class="text-right">{{employee.data.profdev_spent|cap|safe}}</td>
                <td class="text-right">{{employee.data.profdev_days_away|days_cap|safe}}</td>
                
                <td class="text-right">{{employee.data.admin_requested|currency}}</td>
                <td class="text-right">{{employee.data.admin_spent|currency}}</td>
                <td class="text-right">{{employee.data.admin_days_away}}</td>
                
                <td class="text-right">{{employee.data.total_requested|currency}}</td>
                <td class="text-right">{{employee.data.total_spent|currency}}</td>
                <td class="text-right">{{employee.data.total_days_ooo}}</td>

                
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Subtotals</th>
                <th></th>

                <th class="text-right">{{subunit.subunit_totals.profdev_requested|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.profdev_spent|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.profdev_days_away}}</th>
                
                <th class="text-right">{{subunit.subunit_totals.admin_requested|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.admin_spent|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.admin_days_away}}</th>
                
                <th class="text-right">{{subunit.subunit_totals.total_requested|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.total_spent|currency}}</th>
                <th class="text-right">{{subunit.subunit_totals.total_days_ooo}}</th>
                
                
            </tr>
        </tfoot>
    </table>
    {% endfor %}

    {% if unit.subunits.all %}
    <hr/>
    <h3>{{unit.name}} Totals</h3>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th colspan="2" scope="colgroup"></th>
                <th colspan="3" scope="colgroup" class="text-center">Professional Development</th>
                <th colspan="3" scope="colgroup" class="text-center bg-light">Administrative</th>
                <th colspan="3" scope="colgroup" class="text-center">Totals</th>
            </tr>
            <tr>
                <th scope="col">Employee</th>
                <th scope="col">Type</th>

                <th scope="col" class="text-right">Amount Requested</th>
                <th scope="col" class="text-right">Amount Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>
                
                <th scope="col" class="text-right bg-light">Amount Requested</th>
                <th scope="col" class="text-right bg-light">Amount Spent</th>
                <th scope="col" class="text-right bg-light">Days Out Working</th>

                <th scope="col" class="text-right">Total Requested</th>
                <th scope="col" class="text-right">Total Spent</th>
                <th scope="col" class="text-right">Days Out Working</th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Totals</th>
                <th></th>

                <th class="text-right">{{report.unit_totals.profdev_requested|currency}}</th>
                <th class="text-right">{{report.unit_totals.profdev_spent|currency}}</th>
                <th class="text-right">{{report.unit_totals.profdev_days_away}}</th>
                
                <th class="text-right">{{report.unit_totals.admin_requested|currency}}</th>
                <th class="text-right">{{report.unit_totals.admin_spent|currency}}</th>
                <th class="text-right">{{report.unit_totals.admin_days_away}}</th>
                
                <th class="text-right">{{report.unit_totals.total_requested|currency}}</th>
                <th class="text-right">{{report.unit_totals.total_spent|currency}}</th>
                <th class="text-right">{{report.unit_totals.total_days_ooo}}</th>
                
                
            </tr>
        </tfoot>
    </table>
    {% endif %}


{% endblock %}

