{% extends "terra/base.html" %}

{% load terra_extras %}

{% block title %}Unit Report - {{unit.name}}{% endblock %}

{% block supplemental_css %}
<style>
    body {
        padding-top: 6.5rem;

}
</style>
{% endblock %}

{% block body %}
<h1>Unit Reports</h1>
<hr/>
<h2><a href="/unit/1">Library</a></h2>
<ul id="units">
	{% for unit in units %}
	<h3><li><a href="/unit/{{unit.pk}}">{{unit.name}}</a></li></h3>
		{% if unit.subunits.all %}
		<ul>
			{% for subunit in unit.subunits.all %}
				{% include "terra/unit_list_item.html" %}
			{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
</ul>

{% endblock %}