{% extends "terra/base.html" %}

{% load crispy_forms_tags %}
    
{% block title %}Login{% endblock %}

{% block supplemental_css %}
<style>
  body {
    padding-top: 6.5rem;
      }
</style>
{% endblock %}

{% block body %}
<main role="main">
    <div class="container">
        <h2>Login</h2>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Submit</button>
            <hr>
            <p><a href="/accounts/password_reset">Forgot your password?</a></p>
            <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
</main>
{% endblock %}