{% extends "terra/base.html" %}
    
{% block title %}Logout{% endblock %}

{% block supplemental_css %}
<style>
  body {
    padding-top: 6.5rem;
  }
</style>
{% endblock %}

{% block body %}
<main role="main">
    <div class="container">
      <div class="alert alert-success" role="alert">
        <form method="POST" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <h4>You have logged out</h4>
           </div> <!--Div alert-->
          <p> You can log back in by clicking here</p>
          <button type="submit" class="btn btn-primary">Login</button>
          <input type="hidden" name="next" value='/accounts/login'>
        </form>
     
    </div><!--Div container-->
  </main> 
{% endblock %}
