{% extends "terra/base.html" %}

{% load crispy_forms_tags %}
    
{% block title %}Password Reset Confirm{% endblock %}

{% block supplemental_css %}
<style>
    body {
    padding-top: 6.5rem;
    }
</style>
{% endblock %}

{% block body %}
<main role="main">
  <div class="container">
    
      <form method="POST" class="form">
        {% csrf_token %}
        {{ form|crispy}}

        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="next" value='/accounts/password_reset_done'>
      </form>
  </div>
</main>
{% endblock %}



