{% extends "terra/base.html" %}

{% load crispy_forms_tags %}
    
{% block title %}Password Reset{% endblock %}

{% block supplemental_css %}
<style>
    body {
    padding-top: 6.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    }
</style>
{% endblock %}

{% block body %}
    <h4> Forgot your password? </h4>
    <p>Enter your email and we will email you a password reset link</p>
    <form method="POST" class="form">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value='/accounts/password_reset_done'>
    </form>
{% endblock %}