{% extends "terra/base.html" %}
    
{% block title %}Password Reset Confirm{% endblock %}

{% block supplemental_css %}
<style>
    body {
    padding-top: 6.5rem;
    }
</style>
{% endblock %}

{% block body %}
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Password reset confirm</h4>
    <p>Check your email for the password reset.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
{% endblock %}



