{% extends "terra/base.html" %}
    
    {% block title %}Password Reset Complete{% endblock %}

    {% block supplemental_css %}
    <style>
      body {
        padding-top: 6.5rem;
      }
    </style>
    {% endblock %}

{% block body %}
<main role="main">
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h2 class="alert-heading">Password Reset Complete</h2>
            <p>You successfully reset your password. You can now <a href="/accounts/login">login.</a></p>
        </div>
    </div>
</main>
{% endblock %}
