{% extends "terra/base.html" %}
    
{% block title %}Password Reset Confirm{% endblock %}

{% block supplemental_css %}
<style>
    body {
    padding-top: 6.5rem;
    }
</style>
{% endblock %}

{% block body %}
<main role="main">
  <div class="container">
    
      <form method="POST" class="form">
        {% for field in form %}
        <div class="fieldWrapper">
            {{field.errors}}
            {{field.label_tag}} {{field}}
            {% if field.help_text %}
            <p class="help">{{field.help_text|safe}}</p>
            {% endif %}
             </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <input type="hidden" name="next" value='/accounts/password_reset_done'>
      </form>
  </div>
</main>
{% endblock %}



