name: Build TERRA for Docker Hub
on: 
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build_for_docker_hub:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Read chart yaml to get version for docker tag
        id: yaml-data
        uses: KJ002/read-yaml@1.6
        with:
          file: 'charts/prod-terra-values.yaml'
          key-path: '["image", "tag"]'

      - name: Display yaml info
        run: echo "${{ steps.yaml-data.outputs.data }}"

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            uclalibrary/terra:${{ steps.yaml-data.outputs.data }}
            uclalibrary/terra:scan
